@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?xkklr8');
    src: url('fonts/icomoon.eot?xkklr8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xkklr8') format('truetype'),
    url('fonts/icomoon.woff?xkklr8') format('woff'),
    url('fonts/icomoon.svg?xkklr8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notifications_off:before {
    content: "\e900";
}

.icon-notifications_active:before {
    content: "\e901";
}

.icon-notifications:before {
    content: "\e902";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffe4c4;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro {
    padding: 20px;
    font-size: 18px;
}

.title {
    padding: 10px 0;
}

ul li {
    margin-left: 5%;
}

#notification {
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    color: #993333;
    position: fixed;
    top: 0;
    right: 10px;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
}

.message-area {
    border: none;
    border-bottom: 3px solid #993333;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    width: 90%;
    background: #d4b88f;
    border-radius: 5px;
    min-height: 116px;
    text-align: left;
}

.message-action {
    background-color: #993333;
    margin-top: 20px;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.message-action[disabled] {
    opacity: 0.5;
}